{% extends 'base.html.twig' %}

{% block icon %}🔒{% endblock %}
{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="fordableCard">
        <div class="fordableCard_content">
            <form method="post" id="loginForm">

                {# Affichage d'une erreur si l'email ou le mot de passe est érroné #}
                {% if error %}
                    <script>
                        $(document).ready(function() {
                            $('#errorModal').modal('show');
                        });
                    </script>
                {% endif %}

                {# Affichage si l'utilisateur est déjà connecté #}
                {% if app.user %}
                    <script>
                        $(document).ready(function() {
                            $('#loggedInModal').modal('show');
                        });
                    </script>
                {% endif %}

                <h2>Connexion</h2>

                <div class="fordableCard_input">
                    <input type="email" value="{{ last_username }}" placeholder="Email" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                </div>
                <div class="fordableCard_input">
                    <input type="password" placeholder="Mot de passe" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                </div>

                <div class="fordableCard_link">
                    <div>
                        <input type="checkbox" id="connected" />
                        <label for="connected">Rester connecté ?</label>
                    </div>
                    <p>
                        <a href="http://localhost:5173/inscription">Pas de compte ?</a>
                    </p>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <input type="submit" class="button" value="SE CONNECTER" />
            </form>
        </div>
    </div>

    <!-- Fenêtre d'erreur -->
    <div class="modal" tabindex="-1" id="errorModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Erreur de connexion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Une ou plusieurs données sont invalides. Veuillez vérifier votre email et votre mot de passe.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">FERMER</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Fenêtre utilisateur déjà connecté -->
    <div class="modal" tabindex="-1" id="loggedInModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Utilisateur déjà connecté</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Vous êtes déjà connecté.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">FERMER</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
